body,html{
	margin:0;
	padding: 0;
	font-size: 14px;
	background: #f1f1f1;
	font-family: '微软雅黑';
	overflow-x: hidden;
}
ul,ol,li,a,a:hover,a:focus,a:active,div{
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
#skill,#foot,#writing,#contact{
	padding: 40px 0;
	position: relative;
	/*top: 0;
	-webkit-transition: all 2 ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all 2 ease;
	transition: all 2 ease;*/
}
.loading #header-wrap{
	top: 0;
	background: #ffcf05 url(../images/top_bg.png) repeat-x left bottom;
	height: 100%;
	-webkit-transition: height ease 1.5s;
	-moz-transition: height ease 1.5s;
	transition: height ease 1.5s;
}
.loading .main{
	opacity: 0;
}
.loading_bar{
	display: none;
}
.loading .loading_bar{
	opacity: 1;
	position: absolute;
	width: 415px;
	height: 39px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background: url(../images/loading_bar.png) no-repeat left top;
}
.loading .loading_bar>img{
	display: block;
	position: relative;
	top: 2px;
	left: 2px;
	-webkit-transition: width ease .5s;
	-moz-transition: width ease .5s;
	transition: width ease .5s;
}
.wrap{
	position: relative;
	left: 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.remove{
	width: 100%;
	left: 266px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
/*me-info start*/
.open-me{
	opacity: 1!important;
	left: 0!important;
}
.me-info{
	position: fixed;
	left: -100%;
	top: 0;
	width: 266px;
	height: 100%;
	background: #000;
	color: #fff;
	padding: 30px 10px;
	box-sizing:border-box;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	opacity: 0;
}
.me-info>.me>.me-pic{
	width: 160px;
	height: 160px;
	display: block;
	margin: 0 auto;
	/*overflow: hidden;*/
	border-radius: 50%;
	box-shadow: 0 0 15px #f9e249;
	
}
.me-pic .me-wrap{
	width: 160px;
	height: 160px;
	display: block;
	overflow: hidden;
	border-radius: 50%;
	position: relative;
	z-index: 1;
}
.me-pic .me-wrap img:hover{
	transform: scale(2);
	transition: .5s;
}
.me-pic .me-wrap img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transition: .5s;
}
.me-info>.me>h3{
	font-size: 18px;
	text-align: center;
	padding: 10px 0;
	margin-bottom: 10px;
}
.me-txt{
	text-indent: 28px;
	line-height: 1.6;
	padding: 0 10px;
	margin-bottom: 30px;
}
.detail{
	padding-left: 10px;
	text-align: left;
	text-indent: 0!important;
	line-height: 1.6;
	text-shadow: 2px 2px 2px #f6b6ab;
	letter-spacing: 1px;
	font-size: 16px;
}
.detail>a{
	color: #d4d4d4;
}
.close{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #d6d6d6;
	font-size: 20px;
	cursor: pointer;
}


/*navbar end*/

#about{
	padding: 30px 0;
	margin-bottom: 30px;
	position: relative;
	top: 0;
	-webkit-transition: all 2 ease;
	-moz-transition: all 2 ease;
	-ms-transition: all 2 ease;
	-o-transition: all 2 ease;
	transition: all 2 ease;
}

.se-title{
	padding: 50px 0;
}
.se-title>h2,.se-title>span,.se-title>h4{
	text-align: center;
	letter-spacing: .1rem;
}
.se-title>h2{
	letter-spacing: .5rem;
	font-size: 18px
}
.se-title>span{
	display: block;
	width: 10%;
	height: 2px;
	background: #871a04;
	margin: 14px auto;
}
.se-title>h4{
	text-transform: uppercase;
	font-size: 16px;
}
.ab-content{
	padding: 0 20%;
}
/*.onload{
	width: 100%;
	height: 100%;
}*/
.ab-content>p{
	text-align: center;
	color: #424242;
	padding: 6px 0;
}
.ab-content>p>span{
	padding: 2px 4px 0 4px;
	color: #1e1e34;
	font-weight: 400;
	font-size: 20px;
}
.ab-content>p:nth-of-type(1){
	font-size: 18px;
}
.wrap-me{
	width: 300px;
	height:300px;
	overflow: hidden;
	transform: rotate(-45deg);
	margin: 70px auto;
}
.wrap-me>img{
	width: 300px;
	height: 300px;
	transform: rotate(45deg) scale(1.38);
}

.sk-skill{
	color: #fff;
}
.wrap-sk{
	position: relative;
	z-index: 4;
}
.sk-content{
	color: #fff;
	padding: 0 20px;
	margin-top: 15px;
}
.sk-content>ul{
	display: table;
	width: 100%;
}
.sk-content>ul>li{
	display: table-cell;
	width: 25%;
	text-align: center;
}
.sk-co-title>p{
	font-style: italic;
	color: #ccc;
	margin: 10px 0 20px 0;
}
.sk-list{
	width: 100%;
}
.sk-list>li{
	width: 90%;
	padding: 15px 0;
	margin: 15px auto;
	border:1px solid #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
}

/*foot start*/



/*.wr-content>ul>li p{
	padding: 10px 0;
	text-align: center;
	color: #fff;
	background: url(../images/sj.gif);
	background-repeat: repeat-x;
	background-color: #fff;
}
*/
.co-content{
	padding: 10px;
	text-align: center;
	margin-bottom: 30px;
	
}
.co-content>p{
	font-size: 16px;
	margin-bottom: 50px;
	letter-spacing: 6px;
}
.co-content>ul{
	display: table;
	width: 80%;
	margin: 0 auto;
	padding: 30px 0;
}
.co-content>ul>li{
	display: table-cell;
	text-align: center;
	width: 25%;

	
}
.scroll{
	-webkit-animation-name: entrance;
	-moz-animation-name: entrance;
	-o-animation-name: entrance;
	animation-name: entrance;
	-webkit-animation-duration: 1.6s;
	-moz-animation-duration: 1.6s;
	-ms-animation-duration: 1.6s;
	-o-animation-duration: 1.6s;
	animation-duration: 1.6s;
	opacity: 1 !important;

	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay: .3s;
	-moz-animation-delay: .3s;
	animation-delay: .3s;
}
.co-content>ul>li>a{
	opacity: .4;
	color: #777;
}
.co-content>ul>li>a:hover{
	opacity: 1;
	color: #000
}
.co-content>ul>li>a>img{
	width: 40px;
	margin: 10px 0;
}
.co-content>ul>li>a>p{
	
}
footer{
	background: #333;
	color: #fff;
	padding: 20px 0;
	text-align: center;
	letter-spacing: 1px;
}
.wrap-bottom p{
	padding: 15px 0;
}
.chicken{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}
.chicken>img{
	height: 100%;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}


@keyframes bg{
	0% {
	    -moz-transform: translate3d(0,0,0);
	    -webkit-transform: translate3d(0,0,0);
	    -o-transform: translate3d(0,0,0);
	    -ms-transform: translate3d(0,0,0);
	    transform: translate3d(0,0,0);
	}
	100% {
	    -moz-transform: translate3d(-1200px,0,0);
	    -webkit-transform: translate3d(-1200px,0,0);
	    -o-transform: translate3d(-1200px,0,0);
	    -ms-transform: translate3d(-1200px,0,0);
	    transform: translate3d(-1200px,0,0);
	}
}
@keyframes entrance{
	0% {
	    transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
	    opacity: .2;
	}
	30% {
	    transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
	    opacity: 1;
	}
	45% {
	    transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
	    opacity: 1;
	}
	60% {
	    transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
	    opacity: 1;
	}
	75% {
	    transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
	    opacity: 1;
	}
	90% {
	    transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
	    opacity: 1;
	}

	100% {
	    transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
	    opacity: 1;
	}
}

@media screen and (max-width: 890px){
	p{
		line-height: 1.6!important;		
	}
	.info-wrap{
		background-size: cover;
	}
	.se-title>h2{
		letter-spacing: .1rem;
	}
	.se-title>span{
		width: 20%;
	}
	.top-title>span{
		display: none;
	}
	.ab-content>p{		
		padding: 0;
	}
	#header-wrap{
		position: relative;
	}
	.wrap-me{
		width: 150px;
		height: 150px;	
	}
	.wrap-me>img{
		width: 150px;
		height: 150px;
	}
	.sk-content>ul>li{
		display: block;
		width: 100%;
	}
	.wr-content>ul,.co-content>ul{
		display: flex;
		width: 100%;
		flex-flow: row wrap;
		align-content: flex-start;
	}
	/*.show{
		
	}*/
	.wr-content>ul>li,.co-content>ul>li{
		flex: 0 0 50%;
		padding: 3%;
		display: block;
	}
	.co-content>ul>li{
		padding: 3% 0;
	}
	.w-txt>h3{
		font-size: .8rem;
	}
	.nav-wrap>nav>ul{
		position: absolute;
	    top: 37px;
	    right: 0;
	    width: 100px;
	    z-index: 999;
	    background: #111;
	    display: none;
	}
	.nav-wrap>nav>ul>li{
		display: block;
		text-align: center;
	}
	.small-nav{
		display: block;
		height: 100%;
		float: right;
		margin-left: 4px;
	}
	.small-nav>img{
		display: block;
		height: 100%;
		padding: 6px;
		box-sizing: border-box;
	}
	.info-wrap{
		height: 148px;
	}
	.info-img{
		padding-top: 10px;
	}
	.info-img>img{
		width: 60px;
	}
}
